POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=metube
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
REDIS_PASSWORD=redis_password